{% macro contribution_form() %}
<form method="post">
    <div class="form" id="form_contri">
        <div class ="info">    
            <input type="text" name="name" placeholder="Nome">
            <input type="text" name="value_to_contribute" placeholder="Valor a contribuir">
            <input type="text" name="message" placeholder="Mensagem para os noivos..." style="height:60px">
        </div>

    
 
        <div class="transfer_type" style="text-align: left;">
            <div>  IBAN: {{information['iban']}} </div>
        </div>
        <br>
        
        <button class ="accept" id="contribute">Contribuir</button>
    </div>
</form>
{% endmacro %}